<app-navbar></app-navbar>
<div class="container_">
  <img src="../../../assets/img/i7.jpg" alt="" />
  <button
    type="button"
    routerLink="/listar-usuarios"
    class="btn btn-outline-dark btn-lg boton"
  >
    Usuarios registrados
  </button>
  <button
    type="button"
    routerLink="/ver-prod"
    class="btn btn-outline-dark btn-lg boton"
  >
    Catálogo de productos
  </button>
  <button
    type="button"
    routerLink="/ver-prod"
    class="btn btn-outline-dark btn-lg boton"
  >
    Realizar procesos de compra/venta
  </button>
  <button
    type="button"
    routerLink="/ver-prod"
    class="btn btn-outline-dark btn-lg boton"
  >
    Gestionar proveedores
  </button>
</div>

<!-- Footer -->

<footer
  class="container-fluid py-5 texto"
  style="background-color: rgb(76, 83, 90)"
>
  <div class="floatbox">
    <div class="item">
      <div class="content">
        <img src="../../../assets/img/iconos/candado.png" alt="candado" />
        <p>Pagos 100% seguros</p>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <img src="../../../assets/img/iconos/entrega.png" alt="candado" />
        <p>
          Encuentranos en Quito. Estamos ubicados en San José de Morán
        </p>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <img src="../../../assets/img/iconos/estrellas.png" alt="candado" />
        <p>Productos de calidad</p>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <p>Operamos con</p>
        <a href="https://www.paypal.com/ec/signin">
          <img src="../../../assets/img/iconos/paypal.png" alt="candado" />
        </a>
      </div>
    </div>
  </div>
</footer>

